doctype html
head
	meta(charset='UTF-8')
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	meta(http-equiv='X-UA-Compatible', content='ie=edge')
	title Hacking Tools and stuff
body
	a(href="https://github.com/willyb321?tab=stars") https://github.com/willyb321?tab=stars - theres a lot of good stuff here just basically search for something and its probable youll find something :)
	a(href="https://github.com/0x90") https://github.com/0x90 - this guys made some great wireless tools.
	a(href="https://github.com/NORMA-Inc/AtEar") https://github.com/NORMA-Inc/AtEar - Wireless Hacking, WiFi Security, Vulnerability Analyzer, Pentestration
	a(href="https://github.com/0xd012/wifuzzit") https://github.com/0xd012/wifuzzit - 802.11 fuzzer (vuln scanner basically)
	a(href="https://github.com/aanarchyy/bully") https://github.com/aanarchyy/bully - pretty much a staple now
	a(href="https://github.com/JPaulMora/Pyrit") https://github.com/JPaulMora/Pyrit - precomputed cracker
	a(href="https://github.com/carpedm20/awesome-hacking") https://github.com/carpedm20/awesome-hacking - good stuff
	a(href="https://github.com/jopohl/urh") https://github.com/jopohl/urh - not used this yet but its looking pretty fancy
	a(href="https://github.com/macmade/KeychainCracker") https://github.com/macmade/KeychainCracker - this is (afaik) one of the only keychain crackers
	a(href="https://github.com/JPaulMora/CrackingTools") https://github.com/JPaulMora/CrackingTools - scripts to look up hashes on online dbs
	a(href="https://github.com/brannondorsey/wifi-cracking") https://github.com/brannondorsey/wifi-cracking - fairly easy to follow tutorial for wifi cracking
	a(href="https://github.com/derv82/wifite2") https://github.com/derv82/wifite2 - a rewrite of (imo) one of the best wifi auto cracking tools
	a(href="https://github.com/DanMcInerney/wifijammer") https://github.com/DanMcInerney/wifijammer - does what it says on the tin - jams wifi
	a(href="https://github.com/kylemcdonald/FreeWifi") https://github.com/kylemcdonald/FreeWifi - another tutorial for wifi cracking / free wifi
	a(href="https://github.com/xdavidhu/mitmAP") https://github.com/xdavidhu/mitmAP - very nice MITM tool
	a(href="https://github.com/NSAKEY/nsa-rules") https://github.com/NSAKEY/nsa-rules - some hashcat rules
	a(href="https://github.com/MisterBianco/BoopSuite") https://github.com/MisterBianco/BoopSuite - up and coming wireless pentesting suite
	a(href="https://github.com/faizann24/wifi-bruteforcer-fsecurify") https://github.com/faizann24/wifi-bruteforcer-fsecurify - android wifi bruteforcer
	a(href="https://github.com/mubix/osx-wificleaner") https://github.com/mubix/osx-wificleaner - clean out non protected wifi from macOS
	a(href="https://github.com/akamajoris/AWPA") https://github.com/akamajoris/AWPA - interesting WPA2 brute force written in golang
	a(href="https://github.com/brendan-rius/c-jwt-cracker") https://github.com/brendan-rius/c-jwt-cracker - multi-threaded JWT brute-force cracker written in C
	a(href="https://github.com/iphelix/dnschef") https://github.com/iphelix/dnschef - DNS proxy
	a(href="https://github.com/nxxxu/AutoPixieWps") https://github.com/nxxxu/AutoPixieWps - havent tried this one, supposedly automatically attacks WPS with Pixie
