doctype html
html(lang="en")
	head
		title Hacking Tools
		meta(charset='UTF-8')
		link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
		meta(name='description', content= title)
		meta(name='author', content='Willyb321')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='ie=edge')
		meta(name="theme-color" content="#00d1b2")
		style
			include styles/bulma.css
	body
		block content
