extends layout
block content
	body
		section.hero.is-primary.is-bold
			.hero-body
				.container
					h1.title Hacking Stuff
					h2.subtitle insert generic legal stuff (dont use on not your stuff etc)
		section.section
			.container
				ul
					each val,ind in tools
						li
							a(href= val.href)= val.desc
						hr
